.answer-border-normal{
    width: 280px;
    height: 206px;
    opacity: 0.8;
    border-radius: 6px;
    background-color: #364152;
    display: flex;
    display: inline-flex;
    flex-direction: column;

}
.answer-title{
    width: 280px;
    height: 62px;
    flex-direction: row;
    justify-content: center;
    background-color:palegreen;
}
/* 正在答题提示... */
.answer-title-left2{


}
/* 隐藏按钮 */
.answer-title-right2 {  

}

.answer-content{
    flex-direction: row;
    justify-content: center;

}