.answer-border{
    display: flex;
    align-items: center;
    justify-content: center; /*主轴对齐*/
    flex-direction: column;  /*竖直排列*/
    width: 280px;
    padding: 24px 24px 12px 24px;
    /* padding: 5%; */
    border-radius: 6px;
    background-color: rgba(54,65,82,0.8);
}
.answer-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /*主轴对齐*/
    align-items: flex-start; /*交叉轴对齐*/
    width: 100%;
    margin-bottom: 22px;
}
/* 正在答题显示区 */
.answer-title-left{
    display: flex;
    height: 24px;
    justify-content: flex-start;
    align-items: flex-start; 
}
/* 正在答题字体 */
.answer-title-left-font{
    display: inline-block;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    align-self: center;
    color: #ffffff;
  }
/* 隐藏按钮 */
.answer-title-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 24px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    opacity: 0.4;
}
/* 隐藏按钮字体 */
.answer-title-right-font{
    width: 28px;
    height: 17px;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    
}
.answer-title-right:hover{
    opacity: 1;
}
/* 选项区 */
.answer-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; /*主轴对齐*/
    align-items: center; /*交叉轴对齐 */
}
/* 默认未选中选择按钮显示 */
.answer_options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    width: 110px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
/* 选中选择按钮状态*/
.answer_options:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor:pointer;
}
.options-disable{
    background-color: rgba(255, 255, 255, 0.08);
    pointer-events: none;
}
/* 选择字体 */
.chose_content{
    width: 24px;
    height: 17px;
    font-family: PingFangSC;
    font-size: 12px;
    opacity: 0.4;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.chose_content:hover{
    opacity: 1;
}

.chose_content_disable{
    opacity: 1;
}
/* 字母字*/
.letter-active{
    margin-left: 4px;
    width: 12.1px;
    height: 16px;
    opacity: 0.4;
}
.letter-active:hover{
    opacity: 1;
}
.letter-disable{
    margin-left: 4px;
    width: 12.1px;
    height: 16px;
    opacity: 1;
}
