.answer-border{
    display: flex;
    align-items: center;
    justify-content: center; /*主轴对齐*/
    flex-direction: column;  /*竖直排列*/
    width: 280px;
    height: 206px;
    border-radius: 6px;
    background-color: rgba(54,65,82,0.8);
}
.answer-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  /*主轴对齐*/
    align-items: center; /*交叉轴对齐*/
    width: 280px;
    height: 62px;
}
/* 正在答题显示区 */
.answer-title-left{
    display: flex;
    width: 110px;
    height: 32px;
    align-items: center;
}
/* 正在答题字体 */
.answer-title-left-font{
    width: 72px;
    height: 17px;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    align-self: center;
    color: #ffffff;
  }
/* 隐藏按钮 */
.answer-title-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 24px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

/* 隐藏按钮字体 */
.answer-title-right-font{
    width: 28px;
    height: 17px;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
/* 选项区 */
.answer-content{
    width: 244px;
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; /*主轴对齐*/
    /* justify-content: space-between;   */
     align-items: center; /*交叉轴对齐 */
     margin-bottom: 24px;
}
/* 未选中选择按钮 0ff */
.answer-options-off{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    width: 110px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
/* 选中选择按钮 on*/
.answer-options-on{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    width: 110px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}
/* 选择字体 */
.answer-content-chose-font{
    width: 24px;
    height: 17px;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
/* 选择ABCD字母字体 */
.answer-options-letter-font{
    color: powderblue;
    /* background-image: url('~ROOT/shared/assets/image/button-play-media-60-72-190314.png'); */
}