.body{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
   
}
.LoginWrap{
    display: flex;
    justify-content: center; 
    flex-direction: column;  /*竖直排列*/
    align-items: flex-start; /*交叉轴对齐*/
    background-color:papayawhip;
    margin-top: 10px;
    margin-left: 10px;
    /* height: 50vh; */
} 
.title{
    font-size: 18px;
}
.user_info{
    margin-top: 10px;
    width: 200px;
    margin-right:10px;
    margin-bottom: 10px;
}
.login-btn{
    margin-top: 10px;

}