.body{
    display: flex;
    justify-content: center; 
    flex-direction: column;  /*竖直排列*/
    align-items: flex-start; /*交叉轴对齐*/
}
.LoginWrap{
    display: flex;
    justify-content: center; 
    flex-direction: column;  /*竖直排列*/
    align-items: flex-start; /*交叉轴对齐*/
    width: 30vw;
    height: 30vh;
    background-color:papayawhip;
    margin-top: 10px;
    margin-left: 10px;
} 
.invite_code{
    margin-top: 10px;

}
.invite_name{
    margin-top: 10px;
    margin-bottom: 20px;;
}