.answer-area-component-wrap-normal {
  width: 280px;
  height: 206px;
  opacity: 0.8;
  border-radius: 6px;
  background-color: #364152;

}
.hidden{
  width: 52px;
  height: 24px;
  opacity: 0.4;
  border-radius: 6px;
  background-color: #ffffff;
}

.con{
  width: 72px;
  height: 17px;
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  }

